body{
    width: auto;
    height: 2070px;
    background-image: url(Netflix_login_bgimage.jpg);
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Ubuntu', sans-serif;
}

form{
    margin: auto;
    margin-top: 100px;
    width: 400px;
    background-color: black;
    opacity: .88;
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
}

h1{
    color: white;
}

input{
    margin: 8px 5px;
    padding: 10px 10px;
    width: 355px;
    background-color: rgb(54, 53, 53);
    opacity: 1;
    border: 0px;
    border-radius: 5px;
    height: 25px;
    color: rgb(248, 248, 248);
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Ubuntu', sans-serif;
}

#submit{
    width: 375px;
    margin-top: 30px;
    background-color: red;
    color: white;
    height: 45px;
}

#help{
    color: white;
    margin-left: 300px;
    text-decoration: none;
}

div, p, #signup{
    color: white;
    text-decoration: none;
    width: 350px;
}

#learn{
    color: #ff0505;
    text-decoration: none;
}

#help:hover, #signup:hover, #learn:hover{
    text-decoration: underline;
}